* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}



:root {
    --body-bg: #e5e5e5;
    --button-placeholder-bg: rgba(10, 56, 113, 1);
    --output-bg: #FFFFFF;
    --encrypt-button-font: rgba(255, 255, 255, 1);
    --decrypt-button-bg: rgba(216, 223, 232, 1);
    --notfound-bg: rgba(52, 58, 64, 1);
    --message-alert: rgba(73, 80, 87, 1);
    --light: #cccccc;
    --dark: #151515;
}

.dark-mode:root {
    --body-bg: #111425;
    --button-placeholder-bg: #7956FF;
    --output-bg: #000000;
    --encrypt-button-font: #51CFDB;
    --decrypt-button-bg: #51CFDB;
    --notfound-bg: #B6B5BB;
    --message-alert: #B6B5BB;
}

/* Struture */

body {
    /* max-width: 1920px; */
    min-width: 375px;
    width: 100vw;
    /* max-height: 1080px; */
    height: 100vh;
    background: var(--body-bg);
    box-sizing: border-box;
    overflow: hidden;
}

/* Header */
.cabecalho {
    padding: 40px 0 10px 80px;
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* Main */

.container {
    width: 100vw;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: flex;
    padding: 10px;
    border: 1px solid yellow;
}

/* Section 1 */

.input-section {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid pink;
}

.text-area-div {
    width: 100%;
    height: 65%;
    padding: 20px 20px 20px 20px;
}

.text {
    width: 100%;
    height: 100%;
    background: transparent;
    resize: none;
    border: none;
    outline: 0;
    font-size: 32px;
    line-height: 48px;
    color: var(--button-placeholder-bg);
}

.text::placeholder {
    font-size: 32px;
    line-height: 48px;
    color: var(--button-placeholder-bg);
}

.info {
    width: 70%;
    display: flex;
    justify-content: flex-start;
    padding-top: 2px;
}

.info span {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    text-indent: 5px;
    color: var(--message-alert);
}

/* Section 2 */

.output-section {
    width: 25%;
    height: 115%;
    margin: 0 30px;
    border-radius: 34px;
    display: flex;
    flex-direction: column;

    background: var(--output-bg);
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.08);
    position: relative;
    bottom: 40px;
    border: 1px solid green;
}

.result {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px solid blue; */
}

.result-text {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 10px 10px;
    overflow-wrap: break-word;
    overflow: auto;
    margin: 0 0 20px;
    color: var(--button-placeholder-bg);
}

.result-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 30px 10px 10px;
}

#copy-alert {
    display: inline-flex;
    width: fit-content;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    padding: 3px;
    font-size: 0.7em;
    border-radius: 15px;
    background: var(--decrypt-button-bg);
    opacity: 0;
}



.img-result {
    margin: 0 auto;
    width: 90%;
}

.not-found {
    margin: 0 auto;
    padding-top: 10px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    color: var(--button-placeholder-bg);
}

.insert-message-info {
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: var(--message-alert);
}


.hide {
    display: none;
}

/* buttons */

.button-entry {
    width: 70%;
    margin: 10px;
    display: flex;
    gap: 15px;
    align-items: flex-start;
}

.buttons {
    width: 328px;
    height: 40px;
    border-radius: 15px;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 15px;
    
}

#encrypt {
    background: var(--button-placeholder-bg);
    color: var(--encrypt-button-font);
}

#decrypt {
    background: var(--decrypt-button-bg);
    border: 1px solid var(--button-placeholder-bg);
    cursor: pointer;  
}

#copy {
    margin: 0 auto;
    background: var(--encrypt-button-font);
    width: 288px;
    height: 45px;
    border: 1px solid var(--button-placeholder-bg);
    margin-bottom: 10px;
}

.buttons:active {
    transform: scale(.96);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}


.buttons:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 500%;
    z-index: -1;
    filter: blur(8px);
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 15px;
}

.buttons:active {
    color: #000
}

.buttons:hover:before {
    opacity: 1;
}

.buttons:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--button-placeholder-bg);
    left: 0;
    top: 0;
    border-radius: 15px;
}

#decrypt.buttons:after {
    background: var(--decrypt-button-bg);
}

#copy.buttons:after {
    background: var(--decrypt-button-bg);
}


/* // */

.buttons.dark-mode:before {
    content: '';
    background: linear-gradient(90deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 450%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 15px;
}

.buttons.dark-mode:active {
    color: #000
}

.buttons.dark-mode:hover:before {
    opacity: 1;
}

.buttons.dark-mode:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--button-placeholder-bg);
    left: 0;
    top: 0;
    border-radius: 15px;
}

#decrypt.buttons.dark-mode:after {
    background: var(--decrypt-button-bg);
}

#copy.buttons.dark-mode:after {
    background: var(--decrypt-button-bg);
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 0 0 0;
    width: 100%;
}

.social-network {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 50%;
}


.copyright {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: var(--button-placeholder-bg);
    padding: 10px 0 0 0;
}

/* dark-mode */

.theme {
    width: 25%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.toggle {
    position: relative;
    text-align: center;
    display: block;
    width: 50px;
    height: 25px;
    border-radius: 160px;
    background: #e5e5e5;
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
            inset 0 8px 8px rgba(0, 0, 0, 0.1), 
            inset 0 -4px 4px rgba(0, 0, 0, 0.1)
}

.toggle.dark-mode {
    background: var(--button-placeholder-bg);
    box-shadow: inset 0 2px 60px rgba(0, 0, 3, 0.5),
            inset 0 2px 8px rgba(68, 65, 75, 0.5), 
            inset 0 -4px 8px rgba(228, 228, 228, 0.5);
}

#theme-mode {
    color: var(--button-placeholder-bg);  
}

.toggle .indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background: linear-gradient(to bottom, #eaeaea,#f9f9f9);
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1), 
            inset 0 4px 4px rgba(255, 255, 255, 0.2), 
            inset 0 -4px 4px rgba(255, 255, 255, 0.2);
    transition: 0.5s;
}

.toggle.dark-mode .indicator {
    left: 25px;
    background: linear-gradient(to bottom, #444, #7956FF );
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.1), 
            inset 0 4px 4px rgba(0, 0, 0, 0.1), 
            inset 0 -4px 4px rgba(255, 255, 255, 0.2);
}